@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,300&family=IBM+Plex+Sans:wght@300;700&display=swap');

.nav-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.link {
    background-color: rgb(255, 140, 0);
    padding: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: rgb(34, 0, 89);
}

a:visited {
    color: rgba(140, 7, 0, 0.146);
}


.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.headerBtn {
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.5rem;
}

.btn {
    background-color: transparent;
    border: 0;
    padding: 0.2rem;
}

.nav-container > li {
    display: inline;
}