.nav-container {
    display: inline;
    position: fixed;
    /* top: 0; */
    transition: all 0.5s ease-out;
    opacity: 0.3;
}

.nav-container:hover {
    opacity: 1;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    margin: 0;
    flex-wrap: wrap;
}

.headerBtn {
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.5rem;
}

.btn {
    background-color: #00A7E1;
    border-color: #00171F;
    padding: 0.2rem;
}

.nav-container > li {
    display: inline;
}