.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.titleContainer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 5vw;
    -webkit-text-stroke: 2px #00171F;
}

.titleContainer>h1 {
    background-image: url("../assets/gradientGif.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 4rem 0 2rem 0;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portrait {
    width: 10vw;
    border-radius: 50%;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}


.aboutHeader {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    font-size: 6rem;
    margin: 1rem 1rem 1rem 2rem;
}

.aboutHeaderContainer {
    -webkit-text-stroke: 1px #00171F;
    color: #f98366;
    width: 30vw;
}

.aboutText>p::first-letter {
    font-size: 5rem;
    font-style: italic;
}

.aboutText>p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    color: #f98366;
}

.aboutText {
    padding: 2rem;
    width: 30vw;
}



@media (max-width: 1025px) {
    .aboutContainer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60vw;
    }

    .aboutHeaderContainer {
        text-align: center;
        width: 50vw;
    }

    .aboutText {
        width: 40vw;
    }
}

@media (max-width: 600px) {
    .aboutHeader {
     font-size: 4rem;   
    }

    .aboutText {
        width: 60vw;
    }
}

cite {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #f79533;
}