@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

.titleContainer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 4vw;
}
.titleContainer > h1 {
    background-image: url("../assets/colorful-clouds2.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}