#projectContainjer {
    overflow-x: hidden;
}

.projImg {
    width: 60vw;
}

.projDetails {
    text-align: center;
}

.projDetails>h1 {
    font-family: 'Chivo Mono', monospace;
    color: var(--main-light-orange);
}

.projDetails>h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: var(--main-orange);
}

.projImage {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.project {
    transform: translateX(100%);
    filter: blur(5px);
    opacity: 0;
    transition: all 1s;
}

.project.show {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
}